PSDE_CLIENTE_WF/PSDE_CLIENTE_WF/Service References/PSDE_SERVICE/PSDE_SERVICE31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://PSDE.Model/2013/PSDE_SC" elementFormDefault="qualified" targetNamespace="http://PSDE.Model/2013/PSDE_SC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51928/PSDE_SERVICE.Host/PSDE_SERVICE.svc?xsd=xsd1" namespace="http://PSDE.Model/2013/PSDE_DC" />
  <xs:element xmlns:q1="http://PSDE.Model/2013/PSDE_DC" name="Historial" nillable="true" type="q1:Historial" />
  <xs:element name="ResponseRS" type="xs:int" />
  <xs:element xmlns:q2="http://PSDE.Model/2013/PSDE_DC" name="Cliente" nillable="true" type="q2:Cliente" />
  <xs:element xmlns:q3="http://PSDE.Model/2013/PSDE_DC" name="Contrato" nillable="true" type="q3:Contrato" />
  <xs:element xmlns:q4="http://PSDE.Model/2013/PSDE_DC" name="GeneralDetalle" nillable="true" type="q4:GeneralDetalle" />
  <xs:element xmlns:q5="http://PSDE.Model/2013/PSDE_DC" name="General" nillable="true" type="q5:General" />
  <xs:element xmlns:q6="http://PSDE.Model/2013/PSDE_DC" name="Clientes" nillable="true" type="q6:ListaVistaClientes" />
  <xs:element xmlns:q7="http://PSDE.Model/2013/PSDE_DC" name="Municipios" nillable="true" type="q7:Municipios" />
  <xs:element xmlns:q8="http://PSDE.Model/2013/PSDE_DC" name="Usuarios" nillable="true" type="q8:ListaVistaUsuarios" />
  <xs:element xmlns:q9="http://PSDE.Model/2013/PSDE_DC" name="Categorias" nillable="true" type="q9:CategoriasUsuarios" />
  <xs:element xmlns:q10="http://PSDE.Model/2013/PSDE_DC" name="Eventos" nillable="true" type="q10:ListaVistaEventos" />
  <xs:element xmlns:q11="http://PSDE.Model/2013/PSDE_DC" name="Fincas" nillable="true" type="q11:ListaVistaFincas" />
  <xs:element xmlns:q12="http://PSDE.Model/2013/PSDE_DC" name="SectorProductivo" nillable="true" type="q12:SectorProductivo" />
  <xs:element xmlns:q13="http://PSDE.Model/2013/PSDE_DC" name="ProductoFinanciero" nillable="true" type="q13:ProductoFinanciero" />
  <xs:element xmlns:q14="http://PSDE.Model/2013/PSDE_DC" name="Usuario" nillable="true" type="q14:Usuario" />
  <xs:element name="ResponseRs" type="xs:int" />
  <xs:element xmlns:q15="http://PSDE.Model/2013/PSDE_DC" name="TipoEvento" nillable="true" type="q15:TipoEvento" />
  <xs:element xmlns:q16="http://PSDE.Model/2013/PSDE_DC" name="Evento" nillable="true" type="q16:Evento" />
  <xs:element xmlns:q17="http://PSDE.Model/2013/PSDE_DC" name="Convenio" nillable="true" type="q17:Convenio" />
  <xs:element xmlns:q18="http://PSDE.Model/2013/PSDE_DC" name="DetalleConvenio" nillable="true" type="q18:DetalleConvenio" />
  <xs:element xmlns:q19="http://PSDE.Model/2013/PSDE_DC" name="Finca" nillable="true" type="q19:Finca" />
  <xs:element xmlns:q20="http://PSDE.Model/2013/PSDE_DC" name="CategoriaUsuario" nillable="true" type="q20:CategoriaUsuario" />
  <xs:element name="ResponseR" type="xs:int" />
  <xs:element xmlns:q21="http://PSDE.Model/2013/PSDE_DC" name="FuenteFinanciamiento" nillable="true" type="q21:FuenteFinanciamiento" />
  <xs:element xmlns:q22="http://PSDE.Model/2013/PSDE_DC" name="Departamento" nillable="true" type="q22:Departamento" />
  <xs:element name="ResponsiveRS" type="xs:int" />
  <xs:element xmlns:q23="http://PSDE.Model/2013/PSDE_DC" name="Municipio" nillable="true" type="q23:Municipio" />
  <xs:element xmlns:q24="http://PSDE.Model/2013/PSDE_DC" name="Sucursal" nillable="true" type="q24:Sucursal" />
  <xs:element xmlns:q25="http://PSDE.Model/2013/PSDE_DC" name="Indicador" nillable="true" type="q25:Indicador" />
</xs:schema>