PSDE_CLIENTE_WF/PSDE_CLIENTE_WF/Service References/PSDE_SERVICE/PSDE_SERVICE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://PSDE.Model/2013/PSDE_DC" elementFormDefault="qualified" targetNamespace="http://PSDE.Model/2013/PSDE_DC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Historial">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Historial" nillable="true" type="tns:Historial" />
  <xs:complexType name="Coordenada">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCoordenada" type="xs:int" />
      <xs:element minOccurs="0" name="Coordenada_X_UTM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Coordenada_Y_UTM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Coordenada_X_GMS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Coordenada_Y_GMS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Coordenada" nillable="true" type="tns:Coordenada" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodWeb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodMunicipio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="Contrato">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdContrato" type="xs:int" />
      <xs:element minOccurs="0" name="CodContrato" type="xs:int" />
      <xs:element minOccurs="0" name="CodCliente" type="xs:int" />
      <xs:element minOccurs="0" name="CodUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="CodSucursal" type="xs:int" />
      <xs:element minOccurs="0" name="CodConvenio" type="xs:int" />
      <xs:element minOccurs="0" name="CodSectorProductivo" type="xs:int" />
      <xs:element minOccurs="0" name="CodProductoFinanciero" type="xs:int" />
      <xs:element minOccurs="0" name="MontoOtorgado" type="xs:double" />
      <xs:element minOccurs="0" name="FechaDesembolso" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contrato" nillable="true" type="tns:Contrato" />
  <xs:complexType name="GeneralDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdIndicador" type="xs:int" />
      <xs:element minOccurs="0" name="AvanceCuantitativo" type="xs:double" />
      <xs:element minOccurs="0" name="CodEvento" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralDetalle" nillable="true" type="tns:GeneralDetalle" />
  <xs:complexType name="General">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdEvento" type="xs:int" />
      <xs:element minOccurs="0" name="IdContrato" type="xs:int" />
      <xs:element minOccurs="0" name="EventosPactados" type="xs:int" />
      <xs:element minOccurs="0" name="EventosEjecutados" type="xs:int" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Otros" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="General" nillable="true" type="tns:General" />
  <xs:complexType name="ListaVistaClientes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListaVistaCliente" nillable="true" type="tns:ListaVistaCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaVistaClientes" nillable="true" type="tns:ListaVistaClientes" />
  <xs:complexType name="ListaVistaCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Municipio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo_Web" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaVistaCliente" nillable="true" type="tns:ListaVistaCliente" />
  <xs:complexType name="Municipios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Municipio" nillable="true" type="tns:Municipio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Municipios" nillable="true" type="tns:Municipios" />
  <xs:complexType name="Municipio">
    <xs:sequence>
      <xs:element minOccurs="0" name="idMunicipio" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idDepartamento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Municipio" nillable="true" type="tns:Municipio" />
  <xs:complexType name="ListaVistaUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListaVistaUsuario" nillable="true" type="tns:ListaVistaUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaVistaUsuarios" nillable="true" type="tns:ListaVistaUsuarios" />
  <xs:complexType name="ListaVistaUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Responsable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaVistaUsuario" nillable="true" type="tns:ListaVistaUsuario" />
  <xs:complexType name="CategoriasUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoriaUsuario" nillable="true" type="tns:CategoriaUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoriasUsuarios" nillable="true" type="tns:CategoriasUsuarios" />
  <xs:complexType name="CategoriaUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoriaUsuario" nillable="true" type="tns:CategoriaUsuario" />
  <xs:complexType name="ListaVistaEventos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListaVistaEvento" nillable="true" type="tns:ListaVistaEvento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaVistaEventos" nillable="true" type="tns:ListaVistaEventos" />
  <xs:complexType name="ListaVistaEvento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TituloDelEvento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDeEvento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EvetnosPactados" type="xs:int" />
      <xs:element minOccurs="0" name="EventosEjecutados" type="xs:int" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Otros" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaVistaEvento" nillable="true" type="tns:ListaVistaEvento" />
  <xs:complexType name="SectorProductivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SectorProductivo" nillable="true" type="tns:SectorProductivo" />
  <xs:complexType name="ProductoFinanciero">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoFinanciero" nillable="true" type="tns:ProductoFinanciero" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="CodCategoriaUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Responsable" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="TipoEvento">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdTipoEvento" type="xs:int" />
      <xs:element minOccurs="0" name="Evento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoEvento" nillable="true" type="tns:TipoEvento" />
  <xs:complexType name="Evento">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEvento" type="xs:int" />
      <xs:element minOccurs="0" name="CodTipoEvento" type="xs:int" />
      <xs:element minOccurs="0" name="TituloEvento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Evento" nillable="true" type="tns:Evento" />
  <xs:complexType name="Convenio">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdC" type="xs:int" />
      <xs:element minOccurs="0" name="FechaInicio" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaFinal" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalClientes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MontoFF" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MontoP" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Convenio" nillable="true" type="tns:Convenio" />
  <xs:complexType name="DetalleConvenio">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdDC" type="xs:int" />
      <xs:element minOccurs="0" name="CodConvenio" type="xs:int" />
      <xs:element minOccurs="0" name="CodFuenteF" type="xs:int" />
      <xs:element minOccurs="0" name="CodProducto" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroClientes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="InversionCliente" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetalleConvenio" nillable="true" type="tns:DetalleConvenio" />
  <xs:complexType name="Finca">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdFinca" type="xs:int" />
      <xs:element minOccurs="0" name="HaTotalFinca" type="xs:double" />
      <xs:element minOccurs="0" name="HaEfectiva" type="xs:double" />
      <xs:element minOccurs="0" name="UsoActualSuelo" type="xs:double" />
      <xs:element minOccurs="0" name="CodCliente" type="xs:int" />
      <xs:element minOccurs="0" name="CodCoordenada" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Finca" nillable="true" type="tns:Finca" />
  <xs:complexType name="FuenteFinanciamiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="idFF" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FuenteFinanciamiento" nillable="true" type="tns:FuenteFinanciamiento" />
  <xs:complexType name="Departamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="idDepartamento" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Departamento" nillable="true" type="tns:Departamento" />
  <xs:complexType name="Sucursal">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdSucursal" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responsable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idMunicipio" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sucursal" nillable="true" type="tns:Sucursal" />
  <xs:complexType name="Indicador">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdIndicador" type="xs:int" />
      <xs:element minOccurs="0" name="NombreIndicador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvanceCuantitativo" type="xs:double" />
      <xs:element minOccurs="0" name="AvancePorcentaje" type="xs:double" />
      <xs:element minOccurs="0" name="FechaActualizacion" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Indicador" nillable="true" type="tns:Indicador" />
</xs:schema>